@using FrameWork.Application.Authentication
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SM._Infrastructure.Configuration.Permissions
@using DM._Infrastructure.Configuration.Permissions
@using BM._Infrastructure.Configuration.Permissions
@using CM._Infrastructure.Configuration.Permissions
@using IM._Infrastructure.Configuration.Permissions
@using AM._Infrastructure.Configuration.Permissions
@inject IAuthHelper AuthHelper;
@{
    var currentAccount = AuthHelper.CurrentAccountInfo();
}
<div class="sidebar-top">
    <div class="search-box">
        <form class="search-form" action="#" method="GET">
            <div class="input-group">
                <input type="text" class="form-control placeholder-light" placeholder="جستجو..." name="key">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-round submit">
                        <i class="icon-magnifier"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="user-box">
        <a href="#">
            <img src="~/UploadedPictures/@currentAccount.ProfilePicture" alt="عکس پروفایل" class="img-circle img-responsive">
        </a>
        <div class="user-details">
            <h4>@currentAccount.Fullname</h4>
            <p class="role">@currentAccount.Role</p>
        </div>
    </div>
</div>
<div class="side-menu-container">
    <ul class="metismenu" id="side-menu">
        <li>
            <a asp-page="/Index">
                <i class="icon-home"></i>
                <span>پیشخوان</span>
            </a>
        </li>
        <li permission="AccountsPermissions.Menu">
            <a href="#" class="dropdown-toggle">
                <i class="icon-frame"></i>
                <span>سیستم مدیریت کاربران </span>
            </a>
            <ul>
                <li>
                    <a asp-page="/Accounts/Account/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span>مدیریت کاربران</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Accounts/Role/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span> مدیریت نقش ها</span>
                    </a>
                </li>

            </ul>
        </li>
        <li permission="ShopPermissions.Menu">
            <a href="#" class="dropdown-toggle">
                <i class="icon-frame"></i>
                <span>فروشگاه </span>
            </a>
            <ul>
                <li permission="ShopPermissions.ProductCategoryMenu">
                    <a asp-page="/Shop/ProductCategories/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span>گروه محصولات</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Shop/Products/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span> محصولات</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Shop/ProductPictures/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span>عکس محصولات</span>
                    </a>
                </li>
                <li permission="ShopPermissions.SlideMenu">
                    <a asp-page="/Shop/Slides/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span>اسلایدر</span>
                    </a>
                </li>
            </ul>
        </li>
        <li permission="DiscountsPermissions.Menu">
            <a href="#" class="dropdown-toggle">
                <i class="icon-frame"></i>
                <span>سیستم تخفیفات </span>
            </a>
            <ul>
                <li>
                    <a asp-page="/Discounts/CustomerDiscounts/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span>تخفیف مشتری</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Discounts/ColleagueDiscounts/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span> تخفیف همکاری</span>
                    </a>
                </li>

            </ul>
        </li>
        <li permission="BlogPermissions.Menu">
            <a href="#" class="dropdown-toggle">
                <i class="icon-frame"></i>
                <span>سیستم مقالات </span>
            </a>
            <ul>
                <li>
                    <a asp-page="/Blog/ArticleCategories/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span>گروه مقالات</span>
                    </a>
                </li>
                <li>
                    <a asp-page="/Blog/Articles/Index" class="waves-effect active">
                        <i class="icon-frame"></i>
                        <span> مقالات</span>
                    </a>
                </li>

            </ul>
        </li>
        <li permission="InventoryPermissions.Menu">
            <a asp-page="/Inventory/Index" class="waves-effect active"><i class="icon-frame"></i><span> انبارداری </span></a>
        </li>
        <li permission="AuctionsPermissions.Menu">
            <a asp-page="/Auctions/Auction/Index" class="waves-effect active"><i class="icon-frame"></i><span> مزایده ها </span></a>
        </li>
        <li permission="CommentsPermissions.Menu">
            <a asp-page="/Comments/Index" class="waves-effect active"><i class="icon-frame"></i><span> مدیریت کامنت ها </span></a>
        </li>
       
        <li>
            <a asp-page="/Account" asp-page-handler="Logout" class="waves-effect active"><i class="icon-frame"></i><span> خروج </span></a>
        </li>



    </ul>
</div>
