            <div class="side-menu-container">
                <ul class="metismenu" id="side-menu">
                    <li>
                        <a asp-page="/Index">
                            <i class="icon-home"></i>
                            <span>پیشخوان</span>
                        </a>
                    </li>
                     <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-frame"></i>
                        <span>فروشگاه </span>
                    </a>
                    <ul>
                        <li>
                            <a asp-page="/Shop/ProductCategories/Index" class="">
                                <i class="icon-frame"></i>
                                <span>گروه محصولات</span>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Shop/Products/Index" class="">
                                <i class="icon-frame"></i>
                                <span> محصولات</span>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Shop/ProductPictures/Index" class="">
                                <i class="icon-frame"></i>
                                <span>عکس محصولات</span>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Shop/Slides/Index" class="">
                                <i class="icon-frame"></i>
                                <span>اسلایدر</span>
                            </a>
                        </li>
                    </ul>
                </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-frame"></i>
                            <span>سیستم تخفیفات </span>
                        </a>
                        <ul>
                            <li>
                                <a asp-page="/Discounts/CustomerDiscounts/Index" class="">
                                    <i class="icon-frame"></i>
                                    <span>تخفیف مشتری</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Discounts/ColleagueDiscounts/Index" class="">
                                    <i class="icon-frame"></i>
                                    <span> تخفیف همکاری</span>
                                </a>
                            </li>
                       
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-frame"></i>
                            <span>سیستم مدیریت کاربران </span>
                        </a>
                        <ul>
                            <li>
                    <a asp-page="/Accounts/Account/Index" class="">
                                    <i class="icon-frame"></i>
                                    <span>مدیریت کاربران</span>
                                </a>
                            </li>
                            <li>
                    <a asp-page="/Accounts/Role/Index" class="">
                                    <i class="icon-frame"></i>
                                    <span> مدیریت نقش ها</span>
                                </a>
                            </li>
                       
                        </ul>
                    </li>
        <li>
            <a asp-page="/Inventory/Index" class=""><i class="icon-frame"></i><span> انبارداری </span></a>
        </li>
                    


                </ul><!-- /#side-menu -->
            </div><!-- /.side-menu-container -->
